<a href="https://colab.research.google.com/github/Visakar28/github1/blob/main/DS_Week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('students_dataset.csv')
print(df.head())

      Name   Age  Marks  Attendance Passed
0    Alice  20.0   85.0        90.0    Yes
1      Bob  21.0    NaN        80.0     No
2  Charlie   NaN   78.0         NaN    Yes
3    David  22.0   90.0        85.0    Yes
4      Eve  20.0   88.0        95.0     No

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
print(df.isnull().sum())

Name          0
Age           4
Marks         4
Attendance    4
Passed        0
dtype: int64

In [ ]:
df_cleaned = df.dropna() # Removes rows with missing values
print(df_cleaned)

     Name   Age  Marks  Attendance Passed
0   Alice  20.0   85.0        90.0    Yes
3   David  22.0   90.0        85.0    Yes
4     Eve  20.0   88.0        95.0     No
8     Ivy  24.0   92.0        92.0    Yes
12   Mona  21.0   83.0        80.0     No

In [ ]:
df["Age"].fillna(df["Age"].mean(), inplace=True)
df["Marks"].fillna(df["Marks"].median(), inplace=True)
df["Attendance"].fillna(df["Attendance"].mean(),inplace=True)
print(df)

       Name   Age  Marks  Attendance Passed
0     Alice  20.0   85.0       90.00    Yes
1       Bob  21.0   82.0       80.00     No
2   Charlie  22.0   78.0       85.25    Yes
3     David  22.0   90.0       85.00    Yes
4       Eve  20.0   88.0       95.00     No
5     Frank  22.0   76.0       70.00    Yes
6     Grace  23.0   82.0       88.00     No
7      Hank  21.0   80.0       85.25    Yes
8       Ivy  24.0   92.0       92.00    Yes
9      Jack  22.0   79.0       85.00     No
10    Kelly  22.0   82.0       78.00    Yes
11      Leo  23.0   87.0       85.25    Yes
12     Mona  21.0   83.0       80.00     No
13     Nina  22.0   77.0       89.00    Yes
14    Oscar  25.0   82.0       91.00     No
15     Paul  22.0   81.0       85.25    Yes

<ipython-input-15-25fb2e65706e>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(), inplace=True)
<ipython-input-15-25fb2e65706e>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Marks"].fillna(df["Marks"].median(), inplace=True)
<ipython-input-15-25fb2e65706e>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Attendance"].fillna(df["Attendance"].mean(),inplace=True)

In [ ]:
df["Passed"].fillna(df["Passed"].mode()[0], inplace=True)
print(df)

       Name   Age  Marks  Attendance Passed
0     Alice  20.0   85.0       90.00    Yes
1       Bob  21.0   82.0       80.00     No
2   Charlie  22.0   78.0       85.25    Yes
3     David  22.0   90.0       85.00    Yes
4       Eve  20.0   88.0       95.00     No
5     Frank  22.0   76.0       70.00    Yes
6     Grace  23.0   82.0       88.00     No
7      Hank  21.0   80.0       85.25    Yes
8       Ivy  24.0   92.0       92.00    Yes
9      Jack  22.0   79.0       85.00     No
10    Kelly  22.0   82.0       78.00    Yes
11      Leo  23.0   87.0       85.25    Yes
12     Mona  21.0   83.0       80.00     No
13     Nina  22.0   77.0       89.00    Yes
14    Oscar  25.0   82.0       91.00     No
15     Paul  22.0   81.0       85.25    Yes

<ipython-input-23-fb9acbd060a0>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Passed"].fillna(df["Passed"].mode()[0], inplace=True)

In [ ]:
df.ffill(inplace=True) # Forward fill
df.bfill(inplace=True) # Backward fill
print(df)

       Name   Age  Marks  Attendance Passed
0     Alice  20.0   85.0       90.00    Yes
1       Bob  21.0   82.0       80.00     No
2   Charlie  22.0   78.0       85.25    Yes
3     David  22.0   90.0       85.00    Yes
4       Eve  20.0   88.0       95.00     No
5     Frank  22.0   76.0       70.00    Yes
6     Grace  23.0   82.0       88.00     No
7      Hank  21.0   80.0       85.25    Yes
8       Ivy  24.0   92.0       92.00    Yes
9      Jack  22.0   79.0       85.00     No
10    Kelly  22.0   82.0       78.00    Yes
11      Leo  23.0   87.0       85.25    Yes
12     Mona  21.0   83.0       80.00     No
13     Nina  22.0   77.0       89.00    Yes
14    Oscar  25.0   82.0       91.00     No
15     Paul  22.0   81.0       85.25    Yes

In [ ]:
df.drop_duplicates(inplace=True)
print(df)

       Name   Age  Marks  Attendance Passed
0     Alice  20.0   85.0       90.00    Yes
1       Bob  21.0   82.0       80.00     No
2   Charlie  22.0   78.0       85.25    Yes
3     David  22.0   90.0       85.00    Yes
4       Eve  20.0   88.0       95.00     No
5     Frank  22.0   76.0       70.00    Yes
6     Grace  23.0   82.0       88.00     No
7      Hank  21.0   80.0       85.25    Yes
8       Ivy  24.0   92.0       92.00    Yes
9      Jack  22.0   79.0       85.00     No
10    Kelly  22.0   82.0       78.00    Yes
11      Leo  23.0   87.0       85.25    Yes
12     Mona  21.0   83.0       80.00     No
13     Nina  22.0   77.0       89.00    Yes
14    Oscar  25.0   82.0       91.00     No
15     Paul  22.0   81.0       85.25    Yes

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_scaled = df.copy()
df_scaled[["Marks", "Attendance"]] =scaler.fit_transform(df[["Marks", "Attendance"]])
print(df_scaled)

       Name   Age     Marks  Attendance Passed
0     Alice  20.0  0.505490    0.804154    Yes
1       Bob  21.0 -0.168497   -0.888802     No
2   Charlie  22.0 -1.067146    0.000000    Yes
3     David  22.0  1.628802   -0.042324    Yes
4       Eve  20.0  1.179478    1.650632     No
5     Frank  22.0 -1.516471   -2.581758    Yes
6     Grace  23.0 -0.168497    0.465563     No
7      Hank  21.0 -0.617822    0.000000    Yes
8       Ivy  24.0  2.078127    1.142745    Yes
9      Jack  22.0 -0.842484   -0.042324     No
10    Kelly  22.0 -0.168497   -1.227393    Yes
11      Leo  23.0  0.954815    0.000000    Yes
12     Mona  21.0  0.056166   -0.888802     No
13     Nina  22.0 -1.291809    0.634858    Yes
14    Oscar  25.0 -0.168497    0.973450     No
15     Paul  22.0 -0.393159    0.000000    Yes

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_scaled[["Marks", "Attendance"]] =scaler.fit_transform(df[["Marks", "Attendance"]])
print(df_scaled)

       Name   Age   Marks  Attendance Passed
0     Alice  20.0  0.5625        0.80    Yes
1       Bob  21.0  0.3750        0.40     No
2   Charlie  22.0  0.1250        0.61    Yes
3     David  22.0  0.8750        0.60    Yes
4       Eve  20.0  0.7500        1.00     No
5     Frank  22.0  0.0000        0.00    Yes
6     Grace  23.0  0.3750        0.72     No
7      Hank  21.0  0.2500        0.61    Yes
8       Ivy  24.0  1.0000        0.88    Yes
9      Jack  22.0  0.1875        0.60     No
10    Kelly  22.0  0.3750        0.32    Yes
11      Leo  23.0  0.6875        0.61    Yes
12     Mona  21.0  0.4375        0.40     No
13     Nina  22.0  0.0625        0.76    Yes
14    Oscar  25.0  0.3750        0.84     No
15     Paul  22.0  0.3125        0.61    Yes

In [ ]:
df_encoded = pd.get_dummies(df, columns=["Passed"],drop_first=True)
print(df_encoded)

       Name   Age  Marks  Attendance  Passed_Yes
0     Alice  20.0   85.0        90.0        True
1       Bob  21.0    NaN        80.0       False
2   Charlie   NaN   78.0         NaN        True
3     David  22.0   90.0        85.0        True
4       Eve  20.0   88.0        95.0       False
5     Frank   NaN   76.0        70.0        True
6     Grace  23.0    NaN        88.0       False
7      Hank  21.0   80.0         NaN        True
8       Ivy  24.0   92.0        92.0        True
9      Jack   NaN   79.0        85.0       False
10    Kelly  22.0    NaN        78.0        True
11      Leo  23.0   87.0         NaN        True
12     Mona  21.0   83.0        80.0       False
13     Nina   NaN   77.0        89.0        True
14    Oscar  25.0    NaN        91.0       False
15     Paul  22.0   81.0         NaN        True

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df["Passed"] = encoder.fit_transform(df["Passed"])
print(df)

       Name   Age  Marks  Attendance  Passed
0     Alice  20.0   85.0       90.00       1
1       Bob  21.0   82.0       80.00       0
2   Charlie  22.0   78.0       85.25       1
3     David  22.0   90.0       85.00       1
4       Eve  20.0   88.0       95.00       0
5     Frank  22.0   76.0       70.00       1
6     Grace  23.0   82.0       88.00       0
7      Hank  21.0   80.0       85.25       1
8       Ivy  24.0   92.0       92.00       1
9      Jack  22.0   79.0       85.00       0
10    Kelly  22.0   82.0       78.00       1
11      Leo  23.0   87.0       85.25       1
12     Mona  21.0   83.0       80.00       0
13     Nina  22.0   77.0       89.00       1
14    Oscar  25.0   82.0       91.00       0
15     Paul  22.0   81.0       85.25       1

In [ ]:
def performance_category(marks):
    if marks >= 85:
        return "High"
    elif marks >= 70:
        return "Medium"
    else:
        return "Low"

df["Performance"] = df["Marks"].apply(performance_category)
print(df)

       Name   Age  Marks  Attendance  Passed Performance
0     Alice  20.0   85.0       90.00       1        High
1       Bob  21.0   82.0       80.00       0      Medium
2   Charlie  22.0   78.0       85.25       1      Medium
3     David  22.0   90.0       85.00       1        High
4       Eve  20.0   88.0       95.00       0        High
5     Frank  22.0   76.0       70.00       1      Medium
6     Grace  23.0   82.0       88.00       0      Medium
7      Hank  21.0   80.0       85.25       1      Medium
8       Ivy  24.0   92.0       92.00       1        High
9      Jack  22.0   79.0       85.00       0      Medium
10    Kelly  22.0   82.0       78.00       1      Medium
11      Leo  23.0   87.0       85.25       1        High
12     Mona  21.0   83.0       80.00       0      Medium
13     Nina  22.0   77.0       89.00       1      Medium
14    Oscar  25.0   82.0       91.00       0      Medium
15     Paul  22.0   81.0       85.25       1      Medium

In [ ]:
df["Age_Group"] = pd.cut(df["Age"], bins=[18, 21, 24],
labels=["Young", "Adult"])
print(df)

       Name   Age  Marks  Attendance  Passed Performance Age_Group
0     Alice  20.0   85.0       90.00       1        High     Young
1       Bob  21.0   82.0       80.00       0      Medium     Young
2   Charlie  22.0   78.0       85.25       1      Medium     Adult
3     David  22.0   90.0       85.00       1        High     Adult
4       Eve  20.0   88.0       95.00       0        High     Young
5     Frank  22.0   76.0       70.00       1      Medium     Adult
6     Grace  23.0   82.0       88.00       0      Medium     Adult
7      Hank  21.0   80.0       85.25       1      Medium     Young
8       Ivy  24.0   92.0       92.00       1        High     Adult
9      Jack  22.0   79.0       85.00       0      Medium     Adult
10    Kelly  22.0   82.0       78.00       1      Medium     Adult
11      Leo  23.0   87.0       85.25       1        High     Adult
12     Mona  21.0   83.0       80.00       0      Medium     Young
13     Nina  22.0   77.0       89.00       1      Medium     Adult
14    Oscar  25.0   82.0       91.00       0      Medium       NaN
15     Paul  22.0   81.0       85.25       1      Medium     Adult